*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#root {
    position: relative;
    width: 80%;
    height: 80%;
    border: 1px solid black;
}

.player {
    position: absolute;
    background: tomato;
}