*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#board {
    position: relative;
    display: grid;
    background: #398400;
}

#bomberman {
    overflow: hidden;
    object-fit: contain;
    z-index: 5;
}

#bomberman img {
    height: 400%;
    width: 1000%;
}

.rock {
    background: url(./img/rock.jpg) center center / cover no-repeat;
}

.wall {
    overflow: hidden;
    object-fit: contain;
}

.pixel-art {
    image-rendering: pixelated;
}

.bomberman-look-left {
    transform: translate3d(-10%, 0, 0);
}

.bomberman-look-right {
    transform: translate3d(-10%, -25%, 0);
}

.bomberman-look-up {
    transform: translate3d(-40%, -25%, 0);
}

.bomberman-look-down {
    transform: translate3d(-40%, 0, 0);
}

.bomberman-walk-left {
    animation: bomberman-walk-left 0.7s steps(3) infinite;
}

@keyframes bomberman-walk-left {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(-30%, 0, 0);
    }
}

.bomberman-walk-right {
    animation: bomberman-walk-right 0.7s steps(3) infinite;
}

@keyframes bomberman-walk-right {
    from {
        transform: translate3d(0, -25%, 0);
    }
    to {
        transform: translate3d(-30%, -25%, 0);
    }
}

.bomberman-walk-up {
    animation: bomberman-walk-up 0.7s steps(3) infinite;
}

@keyframes bomberman-walk-up {
    from {
        transform: translate3d(-30%, -25%, 0);
    }
    to {
        transform: translate3d(-60%, -25%, 0);
    }
}

.bomberman-walk-down {
    animation: bomberman-walk-down 0.7s steps(3) infinite;
}

@keyframes bomberman-walk-down {
    from {
        transform: translate3d(-30%, 0, 0);
    }
    to {
        transform: translate3d(-60%, 0, 0);
    }
}

.bomberman-die {
    animation: bomberman-die 0.7s steps(7) infinite;
}

.bomberman-dead {
    transform: translate3d(-80%, 0, 0);
}

@keyframes bomberman-die {
    from {
        transform: translate3d(0, -50%, 0);
    }
    to {
        transform: translate3d(-70%, -50%, 0);
    }
}

.enemy {
    overflow: hidden;
    object-fit: contain;
}

.enemy img {
    height: 200%;
    width: 1000%;
}

.enemy-walk-left {
    animation: enemy-walk-left 0.7s steps(3) infinite;
}

@keyframes enemy-walk-left {
    from {
        transform: translate3d(-30%, 0, 0);
    }
    to {
        transform: translate3d(-60%, 0, 0);
    }
}

.enemy-walk-right {
    animation: enemy-walk-right 0.7s steps(3) infinite;
}

@keyframes enemy-walk-right {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(-30%, 0, 0);
    }
}

.enemy-walk-up {
    animation: enemy-walk-left 0.7s steps(3) infinite;
}

.enemy-walk-down {
    animation: enemy-walk-right 0.7s steps(3) infinite;
}

.enemy-die {
    animation: enemy-die 0.7s steps(7) infinite;
}

@keyframes enemy-die {
    from {
        transform: translate3d(0, -50%, 0);
    }
    to {
        transform: translate3d(-50%, -50%, 0);
    }
}