@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
}

html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: black;
}

img {
    image-rendering: pixelated;
}

#board {
    position: relative;
    display: grid;
    background: #398400;
}

#bomberman {
    overflow: hidden;
    object-fit: contain;
    z-index: 5;
}

#bomberman img {
    height: 400%;
    width: 1000%;
}

.rock {
    background: url(./img/rock.jpg) center center / cover no-repeat;
    image-rendering: pixelated;
}

.exit-door {
    background: url(./img/exit-door.png) center center / cover no-repeat;
    image-rendering: pixelated;
    z-index: 0;
}

.wall {
    overflow: hidden;
    object-fit: contain;
    z-index: 1;
}

.wall img {
    height: 100%;
}

.wall-explode {
    animation: wall-explode 0.5s steps(7);
}

@keyframes wall-explode {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-70%);
    }
}

.bomberman-look-left {
    transform: translate3d(-10%, 0, 0);
}

.bomberman-look-right {
    transform: translate3d(-10%, -25%, 0);
}

.bomberman-look-up {
    transform: translate3d(-40%, -25%, 0);
}

.bomberman-look-down {
    transform: translate3d(-40%, 0, 0);
}

.bomberman-walk-left {
    animation: bomberman-walk-left 0.4s steps(3) infinite;
}

@keyframes bomberman-walk-left {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(-30%, 0, 0);
    }
}

.bomberman-walk-right {
    animation: bomberman-walk-right 0.4s steps(3) infinite;
}

@keyframes bomberman-walk-right {
    from {
        transform: translate3d(0, -25%, 0);
    }
    to {
        transform: translate3d(-30%, -25%, 0);
    }
}

.bomberman-walk-up {
    animation: bomberman-walk-up 0.4s steps(3) infinite;
}

@keyframes bomberman-walk-up {
    from {
        transform: translate3d(-30%, -25%, 0);
    }
    to {
        transform: translate3d(-60%, -25%, 0);
    }
}

.bomberman-walk-down {
    animation: bomberman-walk-down 0.4s steps(3) infinite;
}

@keyframes bomberman-walk-down {
    from {
        transform: translate3d(-30%, 0, 0);
    }
    to {
        transform: translate3d(-60%, 0, 0);
    }
}

.bomberman-die {
    animation: bomberman-die 0.7s steps(7);
}

.bomberman-dead {
    transform: translate3d(-80%, 0, 0);
}

@keyframes bomberman-die {
    from {
        transform: translate3d(0, -50%, 0);
    }
    to {
        transform: translate3d(-70%, -50%, 0);
    }
}

.enemy {
    overflow: hidden;
    z-index: 2;
    object-fit: contain;
}

.enemy img {
    height: 200%;
    width: 1000%;
}

.enemy-look-left {
    transform: translate3d(-40%, 0, 0);
}

.enemy-look-right {
    transform: translate3d(-10%, 0, 0);
}

.enemy-look-up {
    transform: translate3d(-40%, 0, 0);
}

.enemy-look-down {
    transform: translate3d(-10%, 0, 0);
}

.enemy-walk-left {
    animation: enemy-walk-left 0.7s steps(3) infinite;
}

@keyframes enemy-walk-left {
    from {
        transform: translate3d(-30%, 0, 0);
    }
    to {
        transform: translate3d(-60%, 0, 0);
    }
}

.enemy-walk-right {
    animation: enemy-walk-right 0.7s steps(3) infinite;
}

@keyframes enemy-walk-right {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(-30%, 0, 0);
    }
}

.enemy-walk-up {
    animation: enemy-walk-left 0.7s steps(3) infinite;
}

.enemy-walk-down {
    animation: enemy-walk-right 0.7s steps(3) infinite;
}

.enemy-die {
    transform: translate3d(0, -50%, 0);
    animation: enemy-die 1s 0.4s steps(6);
}

@keyframes enemy-die {
    from {
        transform: translate3d(0, -50%, 0);
    }
    to {
        transform: translate3d(-60%, -50%, 0);
    }
}

.enemy-dead {
    transform: translate3d(-70%, 0, 0);
}

.bomb {
    overflow: hidden;
    object-fit: contain;
    height: 75%;
    width: 75%;
    margin: auto;
}

.bomb img {
    height: 100%;
}

.bomb-exploding {
    animation: bomb 1s steps(3) infinite;
}

.bomb-paused {
    transform: translate3d(0, 0, 0);
}

@keyframes bomb {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(-75%, 0, 0);
    }
}

.explosion {
    overflow: hidden;
    object-fit: contain;
}

.explosion img {
    height: 500%;
}

.explosion-center {
    animation: explosion-center 0.5s steps(4);
}

@keyframes explosion-center {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(-100%, 0, 0);
    }
}

.explosion-horizontal {
    animation: explosion-horizontal 0.5s steps(4);
}

@keyframes explosion-horizontal {
    from {
        transform: translate3d(0, -20%, 0);
    }
    to {
        transform: translate3d(-100%, -20%, 0);
    }
}

.explosion-vertical {
    animation: explosion-vertical 0.5s steps(4);
}

@keyframes explosion-vertical {
    from {
        transform: translate3d(0, -40%, 0);
    }
    to {
        transform: translate3d(-100%, -40%, 0);
    }
}

.explosion-left {
    animation: explosion-left 0.5s steps(4);
}

@keyframes explosion-left {
    from {
        transform: translate3d(0, -60%, 0);
    }
    to {
        transform: translate3d(-100%, -60%, 0);
    }
}

.explosion-right {
    animation: explosion-right 0.5s steps(4);
}

@keyframes explosion-right {
    from {
        transform: translate3d(-75%, -60%, 0) scaleX(-1);
    }
    to {
        transform: translate3d(25%, -60%, 0) scaleX(-1);
    }
}

.explosion-top {
    animation: explosion-top 0.5s steps(4);
}

@keyframes explosion-top {
    from {
        transform: translate3d(0, -80%, 0);
    }
    to {
        transform: translate3d(-100%, -80%, 0);
    }
}

.explosion-bottom {
    animation: explosion-bottom 0.5s steps(4);
}

@keyframes explosion-bottom {
    from {
        transform: translate3d(0, 0, 0) scaleY(-1);
    }
    to {
        transform: translate3d(-100%, 0, 0) scaleY(-1);
    }
}

#main-menu {
    font-size: 24px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 6;
}

#main-menu-img {
    margin-bottom: 50px;
    object-fit: contain;
    width: 400px;
}

#press-enter {
    margin-bottom: 30px;
    animation: press-enter 2s infinite;
}

@keyframes press-enter {
    from {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

#high-score {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

#high-score-number {
    margin-left: 50px;
}

#game {
    position: relative;
}

#game-menu,
#stage-start,
#game-over {
    color: white;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 6;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#stage-start {
    flex-direction: row;
}

#stage-start span {
    margin-left: 8px;
}

#click-me,
#incorrect-arguments {
    cursor: pointer;
    color: white;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

#stage-start,
#game-over {
    background: black;
}

.game-menu-hide {
    opacity: 0;
}

.game-menu-show {
    opacity: 1;
}

.game-menu-item {
    padding: 5px;
    margin-bottom: 10px;
    color: #a6a6a6;
}

.game-menu-item-selected {
    color: white;
}

#ending {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    position: relative;
    z-index: 6;
}

#ending div {
    margin-bottom: 10px;
}

#game-info {
    position: absolute;
    width: 100%;
    top: -30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

#timer img,
#score img,
#live-count img {
    margin-bottom: 1px;
    margin-right: 5px;
}